<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ciclo %><br>
    <%= f.text_field :ciclo %>
  </div>
  <div class="field">
    <%= f.label :career %><br>
    <%= f.text_field :career %>
  </div>
  <div class="field">
    <%= f.label :session %><br>
    <%= f.number_field :session %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :credit %><br>
    <%= f.number_field :credit %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :monday %><br>
    <%= f.check_box :monday %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br>
    <%= f.check_box :tuesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br>
    <%= f.check_box :wednesday %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br>
    <%= f.check_box :thursday %>
  </div>
  <div class="field">
    <%= f.label :friday %><br>
    <%= f.check_box :friday %>
  </div>
  <div class="field">
    <%= f.label :saturday %><br>
    <%= f.check_box :saturday %>
  </div>
  <div class="field">
    <%= f.label :sunday %><br>
    <%= f.check_box :sunday %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
