<p id="notice"><%= notice %></p>

<p>
  <strong>Ciclo:</strong>
  <%= @grade.ciclo %>
</p>

<p>
  <strong>Career:</strong>
  <%= @grade.career %>
</p>

<p>
  <strong>Session:</strong>
  <%= @grade.session %>
</p>

<p>
  <strong>Title:</strong>
  <%= @grade.title %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @grade.credit %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @grade.teacher %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @grade.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @grade.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @grade.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @grade.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @grade.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @grade.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @grade.sunday %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
